/* custom font */
@font-face {
    font-family: Kumbh Sans;
    src: url(font/KumbhSans-VariableFont_YOPQ\,wght.ttf);
}
/* custom color variables */
:root {
    --CDarkCyan: hsl(185, 75%, 39%);
    --CVeryDarkDesaturatedBlue: hsl(229, 23%, 23%);
    --CDarkGrayishBlue: hsl(227, 10%, 46%);
    --CDarkGray: hsl(0, 0%, 59%);
}

.attribution { font-size: 11px; text-align: center; }

.attribution a { color: hsl(228, 45%, 44%); }

body, main {
    display: flex;
    flex-direction: column;
}

body, main, aside {
    align-items: center;
}

body {
    font-family: Kumbh Sans;
    font-size: 18px;
    justify-content: center;
    height: 100vh;
    background-color: var(--CDarkCyan);
    background-image: url(images/bg-pattern-top.svg), url(images/bg-pattern-bottom.svg);
    background-repeat: no-repeat, no-repeat;
    background-position: -300px -400px, 650px 500px;
}

main {
    border-radius: 15px;
    width: 350px;
    height: 375px;
    background-image: url(images/bg-pattern-card.svg);
    background-repeat: no-repeat;
    background-color: white;
    margin-bottom: 20px;
}

img {
    border-radius: 50%;
    border: 2px solid white;
    width: 105px;
    aspect-ratio: 1 / 1;
    margin-top: 90px;
    margin-bottom: 7px;
}

aside {
    margin-top: 20px;
    border-top: 1px solid hsla(0, 0%, 59%, 0.3);
    display: grid;
    width: 100%;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 60% 40%;
    justify-items: center;
}

main > p {
    margin-top: 0px;
}

p {
    grid-row: 1;
    margin-top: 20px;
}

h2 {
    grid-row: 2;
    margin-top: -10px;
}

main > p, h2 {
    font-size: 0.7rem;
}

h1, h2, main > p {
    color: var(--CDarkGrayishBlue);
}

h1 strong, p {
    font-weight: 700;
    color: var(--CVeryDarkDesaturatedBlue);
}

h1 strong, h1, p {
    font-size: 1rem;
}

main > p, h2, h1 {
    font-weight: 400;
}